[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[user]
	name = Yaroslav
	email = yaroslav@freelancehunt.com
[pull]
	rebase = true
[core]
	fileMode = false
	editor = nvim
[includeIf "gitdir:~/Developer/themy3/"]
	path = ~/.gitconfig-personal
