[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[user]
	name = TheMY3
	email = yaroslav.molchan@gmail.com
[pull]
	rebase = true
[core]
	fileMode = false
	editor = vim
[includeIf "gitdir:~/Developer/freelancehunt/"]
	path = ~/.gitconfig-work
